services:
  compactlog:
    build:
      context: .
      dockerfile: Dockerfile
    image: colinstubbs/compactlog:latest
    restart: unless-stopped
    environment:
      # Optional: Timezone
      #- TZ=${TZ:-UTC}
      # Optional, entrypoint debugging.
      # NOTE: if set this will set RUST_LOG=debug in entrypoint.sh so you'll get compactlog debug level logging output.
      #- DEBUG=${DEBUG:-false}
      # Compactlog configuration, refer to entrypoint.sh
      - COMPACTLOG_ROOT_DIRECTORY=${COMPACTLOG_ROOT_DIRECTORY:-/tmp/ct-log-storage}
      - COMPACTLOG_TRUSTED_ROOTS_PATH=${COMPACTLOG_TRUSTED_ROOTS_PATH:-/compactlog/trusted_roots/}
      - COMPACTLOG_BIND_ADDRESS=${COMPACTLOG_BIND_ADDRESS:-0.0.0.0}
      - COMPACTLOG_BIND_PORT=${COMPACTLOG_BIND_PORT:-8080}
      - COMPACTLOG_LOG_MONITORING_URL=${COMPACTLOG_LOG_MONITORING_URL:-http://localhost/}
      - COMPACTLOG_LOG_SUBMISSION_URL=${COMPACTLOG_LOG_SUBMISSION_URL:-http://localhost/}
    ports:
      - "8080:8080"
    volumes:
      - ctlog_data:/tmp/ct-log-storage
      # Optional examples of volume based injection that might be what you need.
      #- ./Config.toml:/compactlog/Config.toml
      #- ./ct:/tmp/ct-log-storage
      #- ./keys:/compactlog/keys/
      # Add any custom trusted root CA's similar to the examples below,
      - ./trusted_roots:/compactlog/trusted_roots/
      #- ./test-root-ca.pem:/compactlog/trusted_roots/test-root-ca.pem
      # persistent logs if desired
      #- logs:/var/log/compactlog

  # caddy is used to front compactlog primarily to perform rate limiting.
  caddy:
    image: colinstubbs/caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ctlog_data:/usr/share/caddy
      - ./example/Caddyfile:/etc/caddy/Caddyfile
      # persistent logs if desired
      #- logs:/var/log/caddy
    depends_on:
      compactlog:
        condition: service_healthy

volumes:
  ctlog_data:
  # logs:
